<div class="container">
  <div class="row">
    <div class="col-md-12 registration-que-popup">
       <div class="col-md-10 col-sm-10 col-xs-10 col-lg-10">
          <div class="col-md-12 reg-title">
              Registration Question
            </div>
       </div>
       <div class="col-md-2 col-sm-2 col-xs-2 col-lg-2">
          <i aria-hidden="true" class="fa fa-pencil edit-icon"></i>
       </div>
       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <hr class="lne"/>
       </div>
       <div>

          <div class="col-md-12"><p class="que">Ticket Level Registration Questions</p>
          <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div>
                    
                      <div>
                          <div class="form-group col-md-11">
                              <p> Do you have any suggestions for improving our products/ services? :</p>
                              <textarea class="form-control"></textarea>
                          </div>
                          <div class="col-md-12">
                             <p><span> Select the roundtable you are interested in attending :</span><span class="msg">You can choose maximum 3 answers</span></p>
                              <div class="col-md-4 reg-que-list-sty">
                                  <ul class="reg-rqu-list">
                                      <li>PNC (10am - 11am)&nbsp;<input type="radio" name="question"/></li>
                                      <li>Exelon (11am - 12 noon)&nbsp;<input type="radio" name="question"/></li>
                                      <li>Dupont (1pm - 2pm)&nbsp;<input type="radio" name="question"/></li>
                                      <li>Peco (3pm - 4pm)&nbsp;<input type="radio" name="question"/></li>
                                      <li>Pepco (4pm - 5pm)&nbsp;<input type="radio" name="question"/></li>
  
  
                                    </ul>
                              </div>
                              <div class="col-md-8 offset-md-7">
                               
                              </div>
                          </div>
                      </div>
                    </div>
                </div>
                
            </div>

          </div>
          </div>
          
          <div class="col-md-12"><p class="que">Event Level Registration Questions</p>
            <div class="container">
              <div class="row">
                  <div class="col-md-12">
                      <div>
                      
                        <div>
                            <div class="form-group col-md-11">
                                <p> What were your greatest take-aways from the event? :</p>
                                <textarea class="form-control"></textarea>
                            </div>
                            </div>
                            <div>
                                <div class="form-group col-md-11">
                                    <p>How would you rate your overall satisfaction with Event? :</p>
                                    <textarea class="form-control"></textarea>
                                </div>
                                </div>
                      </div>
                      
                  </div>
                  
              </div>
              <button class="btn btn-primary sv-que-btn " name="save" type="button">Save</button>
            </div>
           
            </div> 
       </div>
      
    </div>
  </div>
</div>