<div class="container registration-edit-section">
    <div class="row">
        <div class="col-md-12 header-title">
            Registration Question
        </div>
        <form (ngSubmit)="onSubmit()" id="regForm" #registrationEditForm="ngForm" ngNativeValidate>
            <div class="col-md-12 ticket-level-question">
                <div class="col-md-12 question-level-title">
                    <span>Ticket Level Registration Questions</span>
                </div>
                <div class="col-md-12 form-group" *ngFor="let reg_ques of reg_ques">
                    <label for="text">{{ reg_ques.itq.Question__r.Question_Text__c }}</label>
                    <span *ngIf="reg_ques.itq.Question__r.Answer_Type__c == 'Single Selection'" class="col-md-12">
                        <span *ngFor="let opt of reg_ques.optionList" class="radio-button">
                            <label>
                                <input type="radio" [(ngModel)]="reg_ques.SelectedAnswer" value="{{opt.Id}}" name="radiogroup" [checked]="reg_ques.SelectedAnswer == opt.Id" />{{ opt.Answer_Text__c }}
                            </label>
                        </span>
                    </span>
                    <span *ngIf="reg_ques.itq.Question__r.Answer_Type__c == 'Scale'" class="col-md-12">
                            <span *ngFor="let opt of reg_ques.optionList" class="radio-button">
                                <label>
                                    <div><input type="radio" [(ngModel)]="reg_ques.SelectedAnswer" value="{{opt.Id}}" name="{{opt.Id}}" [checked]="reg_ques.SelectedAnswer == opt.Id" /></div>
                                    <div>{{ opt.Answer_Text__c }}</div>
                                </label>
                            </span>
                        </span>
                    <span *ngIf="reg_ques.itq.Question__r.Answer_Type__c == 'Text'" class="col-md-12">
                        <input type="text" class="form-control" value="{{reg_ques.SelectedAnswer}}" [(ngModel)]="reg_ques.SelectedAnswer" name="{{reg_ques.itq.Id}}">
                    </span>
                    <span *ngIf="reg_ques.itq.Question__r.Answer_Type__c == 'Paragraph text'" class="col-md-12">
                        <textarea class="form-control" id="answer-text" [(ngModel)]="reg_ques.SelectedAnswer " name="reg_ques.itq.Id">{{ reg_ques.SelectedAnswer}}</textarea>
                    </span>
                    <span *ngIf="reg_ques.itq.Question__r.Answer_Type__c == 'Choose from a list'">
                        <select id="answer-drop" class="form-control" [(ngModel)]="reg_ques.SelectedAnswer" name="drop">
                            <option *ngFor="let opt of reg_ques.optionList" value={{opt.Id}}>{{ opt.Answer_Text__c }}</option>
                        </select>
                    </span>
                    <span *ngIf="reg_ques.itq.Question__r.Answer_Type__c == 'Checkboxes'" class="col-md-12">
                        <span *ngFor="let opt of reg_ques.optionList;let i=index" class="radio-button">
                            <label>
                                <input type="checkbox" value="{{opt.Id}}" name="{{opt.Id}}" [(ngModel)]="reg_ques.SelectedAnswerCheck[i]" />{{ opt.Answer_Text__c }}
                            </label>
                        </span>
                    </span>
                </div>
            </div>
            <div class="col-md-12 event-level-question">
                <div class="col-md-12 question-level-title">
                    <span>Event Level Registration Questions</span>
                </div>
                <div class="col-md-12" *ngFor="let event_ques of event_ques;let index=index">
                    <div [ngClass]="{'display-none': event_ques.itq.Question__r.BLN_Parent_Answer__c !='' && event_ques.itq.Question__r.BLN_Parent_Answer__c != undefined && event_ques.SelectedAnswer == ''}" id="{{event_ques.itq.Question__r.BLN_Parent_Answer__c}}">
                    <label for="text">{{ event_ques.itq.Question__r.Question_Text__c }}</label>
                    <span *ngIf="event_ques.itq.Question__r.Answer_Type__c == 'Single Selection' && event_ques.itq.Question__r.BLN_Parent_Answer__c != '' && event_ques.itq.Question__r.BLN_Parent_Answer__c != undefined  " class="col-md-12">
                        <span *ngFor="let opt of event_ques.optionList" class="radio-button">
                            <label>
                                <input type="radio" [(ngModel)]="event_ques.SelectedAnswer" value="{{opt.Id}}" name="{{opt.BLN_Question__c}}" [checked]="event_ques.SelectedAnswer == opt.Id" />{{ opt.Answer_Text__c }}
                            </label>
                        </span>
                    </span>
                    <span *ngIf="event_ques.itq.Question__r.Answer_Type__c == 'Single Selection' && event_ques.itq.Question__r.BLN_Parent_Answer__c == undefined  " class="col-md-12">
                            <span *ngFor="let opt of event_ques.optionList" class="radio-button">
                                <label>
                                    <input type="radio" id="chk-{{opt.Id}}" [(ngModel)]="event_ques.SelectedAnswer" value="{{opt.Id}}" name="{{opt.BLN_Question__c}}" [checked]="event_ques.SelectedAnswer == opt.Id" (click)="updateChild(opt.Id)" />{{ opt.Answer_Text__c }}
                                </label>
                            </span>
                        </span>
                    <span *ngIf="event_ques.itq.Question__r.Answer_Type__c == 'Text'" class="col-md-12">
                        <input type="text" class="form-control" value="{{event_ques.SelectedAnswer}}">
                    </span>
                    <span *ngIf="event_ques.itq.Question__r.Answer_Type__c == 'Paragraph text'" class="col-md-12">
                        <textarea class="form-control" id="answer-text">{{event_ques.SelectedAnswer}}</textarea>
                    </span>
                    <span *ngIf="event_ques.itq.Question__r.Answer_Type__c == 'Choose from a list'">
                        <select id="answer-drop" class="form-control" [(ngModel)]="event_ques.SelectedAnswer" name="drop">
                            <option *ngFor="let opt of event_ques.optionList" value={{opt.Id}}>{{ opt.Answer_Text__c }}</option>
                        </select>
                    </span>
                    <span *ngIf="event_ques.itq.Question__r.Answer_Type__c == 'Checkboxes'" class="col-md-12">
                        <span *ngFor="let opt of event_ques.optionList;let i=index" class="radio-button col-md-12 padding-0">
                            <label>
                                <input [(ngModel)]="event_ques.SelectedAnswerCheck[i]" type="checkbox" value="{{opt.Id}}" name="{{opt.Id}}" (change)="onChange('event',index,opt.Id,$event.target.checked)"/>{{ opt.Answer_Text__c }}
                            </label>
                        </span>
                    </span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-md-offset-9 action-section">
                <button type="button" class="btn btn-primary" (click)="onSubmit(registrationEditForm)">Save</button>
                <button type="button" class="btn btn-cancel" (click)="onCancel()">Cancel</button>
            </div>
        </form>
    </div>
</div>