.registration-edit-section{
    width: 100%;
}
.header-title{
    font-size: 25px;
    font-weight: bold;
    color: #666668;
    padding: 0;
    background: #8080802b;
    margin-top: 1%;
    margin-bottom: 1%;
    padding-left: 1%;
}
.padding-0{
    padding:0;
}
.action-section{
    padding:15px;
}
.btn-cancel{
    margin-right:20px; 
}
.btn{
    font-weight: bold;
}
span.required{
    color:red;
    font-weight: 900;
}
.form-control{
    border-radius: 0 !important;
}
.radio-button{
    padding-right: 15px;
}
#answer-drop{
    margin-left: 14px;
    width: 97%;
}
.btn{
    padding: 1% 4% 1% 3%;
    width: 40%;
    border-radius: 0;
}
.row{
    background: #8080800a;
    border: 6px solid #54545447;
}
.question-level-title{
    padding: 0;
    margin-bottom: 10px;
}
.question-level-title span{
    background: #8080803b;
    padding: 6px 100px 6px 4px;
    font-weight: bold;
}
.display-none{
    display:none;
}
.radio-button input{
    margin: 4px 7px 0px 0px !important;
}
