.video-header{
    font-size: 25px;
    font-weight: bold;
    color: #666668;
    padding: 0;
    background: #8080802b;
    margin-top: 1%;
    margin-bottom: 1%;
    padding-left: 1%;
}
.video-section{
    background: #8080800a;
    border: 6px solid #54545447;
    width: 100%;
    min-height: 400px;
    min-width: 725px;
}
.utube-save{
    font-size: 20px;
    padding: 30px 0px 0px 10px;
    color: #337ab7;
    cursor: pointer;
}
.delete-youtube{
    position: absolute;
    background: #f90505;
    right: 9px;
    border-radius: 50%;
    padding: 3px 7px 2px 7px;
    color: white;
    font-weight: bold;
    top: -7px;
    cursor: pointer;
}
.action-section {
    padding: 15px;
}
.btn {
    padding: 1% 4% 1% 3%;
    width: 40%;
    border-radius: 0;
    font-weight: bold;
}
.btn-primary {
    margin-right: 9%;
}
.tooltiptext {
    visibility: hidden;
    width: 175px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
  /*  bottom: 74%; */
    left: 12%;
    margin-left: -60px;
    opacity: 0;
   /* font-size: 17px; */
    transition: opacity 0.3s;
}
.help-text:hover .tooltiptext {
    visibility: visible !important;
    opacity: 1 !important;   
}