.company-prof-header{font-size: 20px;font-weight: bold;color: #627396;line-height: 28px;padding: 19px 30px 6px 0px;}
.company-prof .field-title{font-weight: bold;color: #666668; font-size: 14px;}
.company-prof .field-descr{text-align: justify;line-height: 26px;}
.company-prof .company-header-hr{border: solid 1px #b1bacb !important; margin-top: 1px;padding: 0;}
.company-prof .margin-0{padding: 0px;}
.naics-code-val{background: #E6E7E8; padding: 5px;border-radius: 8px;}
.naics-code-data{line-height: 32px;}