<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="company-prof">
      <div class="company-prof-header col-md-4">Company Profile
      <hr class="company-header-hr">
    </div>
    <div class="col-md-12 margin-0">
      <p class="field-title">About</p>
      <p class="field-descr">Eventdex is a cloud based platform offering integrated solutions catering to many of the different aspects of the event life-cycle
        including online/onsite registration, badge printing, check-ins, lead retrieval, attendee event details and match making saving
        Event Organizers value, is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
        specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially
        unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more
        recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
      <div class="col-md-12 margin-0">
          <div>
              <div class="naics-code-data row">
                <div class="col-md-12 margin-bittom-1">
                <span class="naics-code-val">111110 - Soyabean Farming</span>
                </div>
                <div class="col-md-12 margin-bittom-1">
                <span class="naics-code-val">111120 - Oilseed(Except Soyabean) Farming</span>
                </div>
                <div class="col-md-12 margin-bittom-1">
                <span class="naics-code-val">111130 - Dry Pea and Bean Farming</span>
                </div>
                <div class="col-md-12 margin-bittom-1">
                <span class="naics-code-val">111140 - Wheat Farming</span>
                </div>
                <div class="col-md-12 margin-bittom-1">
                <span class="naics-code-val">111150 - Rice Farming</span>
                </div>
                </div>
            </div>
          <p class="field-title" id="c">Commodities</p>
          <p class="field-descr"><input type="text" value="Amsterdam,Washington,Sydney,Beijing,Cairo" data-role="tagsinput"/> </p>
            </div>  
      <div class="col-md-12 margin-0">
          <div>
              <div class="naics-code-data row">
                <div class="col-md-12 margin-bittom-1">
                <span class="naics-code-val">111110 - Soyabean Farming</span>
                </div>
                <div class="col-md-12 margin-bittom-1">
                <span class="naics-code-val">111120 - Oilseed(Except Soyabean) Farming</span>
                </div>
                <div class="col-md-12 margin-bittom-1">
                <span class="naics-code-val">111130 - Dry Pea and Bean Farming</span>
                </div>
                <div class="col-md-12 margin-bittom-1">
                <span class="naics-code-val">111140 - Wheat Farming</span>
                </div>
                <div class="col-md-12 margin-bittom-1">
                <span class="naics-code-val">111150 - Rice Farming</span>
                </div>
                </div>
            </div>
        <p class="field-title" id="c">Product/Service Keywords</p>
        <p class="field-descr"><input type="text" value="Amsterdam,Washington,Sydney,Beijing,Cairo" data-role="tagsinput"/> </p>
        </div> 
      </div>
    </div>
    
   
  </div>
</div>

 