<div class="container company-profile-edit-section">
    <div class="row">
        <div class="col-md-12 compny-pop-bg">
            <div class="compny-prof-popup">
                <div class="col-md-4 col-sm-10 col-xs-10 col-lg-4">
                    <h2 class="title">Company Profile</h2>
                </div>
                <div class="col-md-6 col-lg-6 offset-md-6 offset-lg-6"></div>
                <div class="col-md-2 col-sm-2 col-xs-2 col-lg-2">
                    <i aria-hidden="true" class="fa fa-pencil edit-icon"></i>
                </div>
                <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
                    <hr class="lne" />
                </div>

                <div class="form-group col-md-12">
                    <label for="email">Company Overview :</label>
                    <textarea class="form-control"></textarea>
                </div>
                <div class="form-group col-md-5">
                    <label for="email">Commodities :</label>
                    <input class="form-control" type="email">
                </div>
                <div class="form-group col-md-5">
                    <label for="email">Product/Service Keywords :</label>
                    <input class="form-control" type="email">
                </div>
                <div class="col-md-2 offset-md-2"></div>
                <div class="form-group col-md-5">
                    <label for="email">DBA :</label>
                    <input class="form-control" type="email">
                </div>
                <div class="form-group col-md-5">
                    <label for="email">Geographical Region :</label>
                    <input class="form-control" type="email">
                </div>
                <div class="col-md-2 offset-md-2"></div>
                <div class="form-group col-md-5">
                    <label for="email">Ethnicity :</label>
                    <input class="form-control" type="email">
                </div>
                <div class="form-group col-md-5">
                    <label for="email">Business Structure :</label>
                    <input class="form-control" type="email">
                </div>
                <div class="col-md-2 offset-md-2"></div>
                <div class="form-group col-md-5">
                    <label for="email">Company Manufactures Country :</label>
                    <input class="form-control" type="email">
                </div>
                <div class="form-group col-md-5">
                    <label for="email">Company Outside Facilities :</label>
                    <input class="form-control" type="email">
                </div>
                <div class="col-md-2 offset-md-2"></div>
                <div class="form-group col-md-5">
                    <label for="email">Company Manufactures Country :</label>
                    <input class="form-control" type="email">
                </div>
                <div class="form-group col-md-5">
                    <label for="email">Company Outside Facilities :</label>
                    <input class="form-control" type="email">
                </div>
                <div class="col-md-2 offset-md-2"></div>
                <div class="form-group col-md-5">
                    <label for="email">Years in Business :</label>
                    <input class="form-control" type="email">
                </div>
                <div class="form-group col-md-5">
                    <label for="email">Diversity Type :</label>
                    <input class="form-control" type="email">
                </div>
                <div class="col-md-2 offset-md-2"></div>
            </div>
            <div class="col-md-12 text-right cmpny-pop-save">
                <button type="button" class="btn btn-primary sv-btn">Save</button>
            </div>
        </div>

    </div>

</div>