<div class="container basic-views-in-adrs" *ngIf="(reg_ques != undefined && reg_ques != '') ||(event_ques != '' && event_ques != undefined)">
    <div class="row">
        <i aria-hidden="true" class="glyphicon glyphicon-pencil adrs-pencil" (click)="openDialog()"></i>
        <div class="col-md-6 adrs-info">
            <div class="basic-view-pghead-adrs work-in-head">Registration Question</div>
        </div>
        <div class="col-md-6 col-md-offset-6"> </div>
        <div class="container tbl-brdr-pdng">
            <div class="row">
                <div class="col-md-12" *ngFor="let reg_ques of reg_ques">
                    <div class="item-question" *ngIf="(reg_ques.SelectedAnswer != '' && reg_ques.SelectedAnswer !== undefined && reg_ques.SelectedAnswer != null) || (reg_ques.SelectedAnswerCheck != '')">{{ reg_ques.itq.Question__r.Question_Text__c }}</div>
                    <div class="iten-answer" *ngIf="(reg_ques.SelectedAnswer != '' && reg_ques.SelectedAnswer != null) || (reg_ques.SelectedAnswerCheck != '')">
                        <span *ngIf="reg_ques.itq.Question__r.Answer_Type__c == 'Text'" class="answer-data">
                            {{ reg_ques.SelectedAnswer }}
                        </span>
                        <span *ngIf="reg_ques.itq.Question__r.Answer_Type__c == 'Paragraph text'" class="answer-data">
                            {{ reg_ques.SelectedAnswer }}
                        </span>
                        <span *ngIf="reg_ques.itq.Question__r.Answer_Type__c == 'Single Selection'">
                            <span *ngFor="let opt of reg_ques.optionList">
                                <span *ngIf="reg_ques.SelectedAnswer == opt.Id" class="answer-data">{{opt.Answer_Text__c}}</span>
                            </span>
                        </span>
                        <span *ngIf="reg_ques.itq.Question__r.Answer_Type__c == 'Choose from a list'">
                            <span *ngFor="let opt of reg_ques.optionList">
                                <span class="answer-data" *ngIf="reg_ques.SelectedAnswer == opt.Id">{{ opt.Answer_Text__c }}</span>
                            </span>
                        </span>
                        <span *ngIf="reg_ques.itq.Question__r.Answer_Type__c == 'Checkboxes'">
                            <span *ngFor="let opt of reg_ques.optionList">
                                <span *ngFor="let opt1 of reg_ques.SelectedAnswerCheck">
                                    <span class="answer-data" *ngIf="opt.Id == opt1">{{ opt.Answer_Text__c }}</span>
                                </span>
                            </span>
                        </span>
                        <span *ngIf="reg_ques.itq.Question__r.Answer_Type__c == 'Scale'">
                            <span *ngFor="let opt of reg_ques.optionList">
                                    <span class="answer-data" *ngIf="reg_ques.SelectedAnswer == opt.Id">{{ opt.Answer_Text__c }}</span>
                            </span>
                        </span>
                    </div>
                </div>
                <div class="col-md-12" *ngFor="let reg_ques of event_ques">
                    <div class="item-question" *ngIf="(reg_ques.SelectedAnswer !='' && reg_ques.SelectedAnswer != null) || (reg_ques.SelectedAnswerCheck != '')">{{ reg_ques.itq.Question__r.Question_Text__c }}</div>
                    <div class="iten-answer" *ngIf="(reg_ques.SelectedAnswer != '' && reg_ques.SelectedAnswer != null) || (reg_ques.SelectedAnswerCheck != '')">
                        <span *ngIf="reg_ques.itq.Question__r.Answer_Type__c == 'Text'" class="answer-data">
                            {{ reg_ques.SelectedAnswer }}
                        </span>
                        <span *ngIf="reg_ques.itq.Question__r.Answer_Type__c == 'Paragraph text'" class="answer-data">
                            {{ reg_ques.SelectedAnswer }}
                        </span>
                        <span *ngIf="reg_ques.itq.Question__r.Answer_Type__c == 'Single Selection'">
                            <span *ngFor="let opt of reg_ques.optionList">
                                <span *ngIf="reg_ques.SelectedAnswer == opt.Id" class="answer-data">{{opt.Answer_Text__c}}</span>
                            </span>
                        </span>
                        <span *ngIf="reg_ques.itq.Question__r.Answer_Type__c == 'Choose from a list'">
                            <span *ngFor="let opt of reg_ques.optionList">
                                <span class="answer-data" *ngIf="reg_ques.SelectedAnswer == opt.Id">{{ opt.Answer_Text__c }}</span>
                            </span>
                        </span>
                        <span *ngIf="reg_ques.itq.Question__r.Answer_Type__c == 'Checkboxes'">
                            <span *ngFor="let opt of reg_ques.optionList">
                                <span *ngFor="let opt1 of reg_ques.SelectedAnswerCheck">
                                    <span class="answer-data" *ngIf="opt.Id == opt1">{{ opt.Answer_Text__c }}</span>
                                </span>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!--<div class="container">
    <div class="row">
      <div class="col-md-12 backg-shdw">
      <div class="registration-que">
          <div class="registration-que-header col-md-4 col-sm-10 col-xs-10 col-lg-4">Registration Question
              <hr class="registration-que-hr">
            </div>
<div   class="col-md-12 col-sm-12 col-lg-12 col-xs-12 margin-0">
  <div>
     
      <div class=" registration-que-data row">
        <div class="p-3"> 

          <div><p class="que">What were your greatest take-aways from the event?</p></div>
        <span class="registration-que-val">Food was great but I could not take away</span>
        <div><p class="que">How would you rate your overall satisfaction with Event?</p></div>
        <span class="registration-que-val">Excellent</span>
        <div><p class="que">Do you have any suggestions for improving our products/ services?</p></div>
        <span class="registration-que-val">Use AI</span>
        
         
        </div> 
        <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
            <div ><hr class="lne"></div>
          <div class="text-center">
            <p  class="show-more-comp">Show more</p>
              <p><span class="glyphicon glyphicon-chevron-down down-arrow"></span></p>
          </div>
          
        </div>
        </div>
    </div>
  </div>
    </div>
    </div>
  </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12 registration-que-popup">
         <div class="col-md-10 col-sm-10 col-xs-10 col-lg-10">
            <div class="col-md-12 reg-title">
                Registration Question
              </div>
         </div>
         <div class="col-md-2 col-sm-2 col-xs-2 col-lg-2">
            <i aria-hidden="true" class="fa fa-pencil edit-icon"></i>
         </div>
         <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <hr class="lne"/>
         </div>
         <div>

            <div class="col-md-12"><p class="que">Ticket Level Registration Questions</p>
            <div class="container">
              <div class="row">
                  <div class="col-md-12">
                      <div>
                      
                        <div>
                            <div class="form-group col-md-11">
                                <p> Do you have any suggestions for improving our products/ services? :</p>
                                <textarea class="form-control"></textarea>
                            </div>
                            <div class="col-md-12">
                               <p><span> Select the roundtable you are interested in attending :</span><span class="msg">You can choose maximum 3 answers</span></p>
                                <div class="col-md-4 reg-que-list-sty">
                                    <ul class="reg-rqu-list">
                                        <li>PNC (10am - 11am)&nbsp;<input type="radio" name="question"/></li>
                                        <li>Exelon (11am - 12 noon)&nbsp;<input type="radio" name="question"/></li>
                                        <li>Dupont (1pm - 2pm)&nbsp;<input type="radio" name="question"/></li>
                                        <li>Peco (3pm - 4pm)&nbsp;<input type="radio" name="question"/></li>
                                        <li>Pepco (4pm - 5pm)&nbsp;<input type="radio" name="question"/></li>
    
    
                                      </ul>
                                </div>
                                <div class="col-md-8 offset-md-7">
                                 
                                </div>
                            </div>
                        </div>
                      </div>
                  </div>
                  
              </div>

            </div>
            </div>
            
            <div class="col-md-12"><p class="que">Event Level Registration Questions</p>
              <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div>
                        
                          <div>
                              <div class="form-group col-md-11">
                                  <p> What were your greatest take-aways from the event? :</p>
                                  <textarea class="form-control"></textarea>
                              </div>
                              </div>
                              <div>
                                  <div class="form-group col-md-11">
                                      <p>How would you rate your overall satisfaction with Event? :</p>
                                      <textarea class="form-control"></textarea>
                                  </div>
                                  </div>
                        </div>
                        
                    </div>
                    
                </div>
                <button class="btn btn-primary sv-que-btn " name="save" type="button">Save</button>
              </div>
             
              </div> 
         </div>
        
      </div>
    </div>
  </div> -->