/*
Start here **/

.basic-views-in-adrs {
    padding: 0;
    background: #fdfbfb;
    -webkit-box-shadow: 0 3px 14px rgba(0, 0, 0, 0.2);
    box-shadow: 0 3px 14px rgba(0, 0, 0, 0.2);
    margin-bottom: 27px;
}
.adrs-pencil {
    float: right;
    margin: 36px;
    font-size: 22px;
    color: #44619c;
    cursor: pointer;
}
.adrs-info {
    padding: 39px 0px 0px 39px;
}
.work-in-head {
    color: #44619c;
}
.basic-view-pghead-adrs {
    padding: 8px 0px 8px 43px;
    background: #d6d5d569;
    font-size: 23px;
    font-weight: bold;
    color: #676767;
    margin-top: 0px;
    width:88%;
}
.basic-naics {
    list-style: none;
    margin-top: 23px;
}
.basic-naics li span {
    background: #E6E7E8;
    padding: 8px;
    border-radius: 2px;
    line-height: 36px;
    margin: 5px 0px 5px 0px;
}
/* Commodities block */
.commodities_data{
    padding: 0px 0px 8px 0px;
} 
.comm-title{
    font-weight: bold;
}
.commo-view{
    padding: 20px 0px 20px 82px;
}

