.naics-code-header-hr{
    margin-top: 2px;
    padding: 0;
    height: 1px;
    background: #808080eb;
}
.naics-code-val{
    background: #8080804d;
    width: fit-content;
    border-radius: 6px;
    padding: 4px;
    font-size: 16px;
    font-weight: 600;
    color: #000000a1;
}
.margin-bittom-1{
    margin-bottom: 1%;
}
.naics-code-header{
    font-size: 20px;
    font-weight: bold;
    color: #627396;
}
.naics-code-edit-iocn{
    font-size: 25px;
    color: #627396;
    font-weight: bold;
}
.naics-code-edit-iocn button{
    background: transparent;
    border: none;
}