<div class="container naics-code-view-sec">
  <div class="row">
  <div class="naice-main">
  <div class="naics-code-header row">
    <div class="col-md-4">
      <span class="naics-icon"></span>
      <span class="naics-tile">NAICS Codes</span>
      <hr class="naics-code-header-hr">
    </div>
    <div class="naics-code-edit-iocn col-md-1 col-md-offset-7">
      <i aria-hidden="true" class="fa fa-pencil edit-icon" (click)="openDialog()"></i>
    </div>
  </div>
  
  <div class="naics-code-data row">
    <div class="col-md-12 margin-bittom-1">
      <span class="naics-code-val">111110 - Soyabean Farming</span>
    </div>
    <div class="col-md-12 margin-bittom-1">
      <span class="naics-code-val">111120 - Oilseed(Except Soyabean) Farming</span>
    </div>
    <div class="col-md-12 margin-bittom-1">
      <span class="naics-code-val">111130 - Dry Pea and Bean Farming</span>
    </div>
    <div class="col-md-12 margin-bittom-1">
      <span class="naics-code-val">111140 - Wheat Farming</span>
    </div>
    <div class="col-md-12 margin-bittom-1">
      <span class="naics-code-val">111150 - Rice Farming</span>
    </div>
  </div>
</div>
</div>
</div>
