<div class="container basic-info-edit">
  <div class="row basic-info-title">
    Basic Information
   <!-- <span class="close-popup" (click)="onCancel()">X</span> -->
  </div>
  <form (ngSubmit)="onSubmit()" #personalInfoForm="ngForm" [formGroup]="basicEdit" ngNativeValidate>

    <div class="basic-info-header row">
      <div class="col-md-6 col-sm-6 col-xs-6" style="height: 100px;" *ngIf='speaker[2].biw.readaccess == "true"'>
      <!--  <div class="rec"></div>
        <div class="rec-1"></div> -->
        <div class="logo-img">
            <span class="help-text logo-help"><i aria-hidden="true" class="fa fa-question-circle"></i>
              <span class="tooltiptext">Type: JPEG/PNG<br>Size: 200KB<br>Dimensions: 300X300</span>
            </span>
          <span class="glyphicon glyphicon-pencil logo-upload-pencil" *ngIf='speaker[2].biw.updateaccess == "true"'>
            <input type='file' (change)="onSelectLogoFile($event)" class="file-input-hide">
          </span>
          <span class="delete-logo" *ngIf="logourl != '/servlet/servlet.FileDownload?file=undefined' && speaker[2].biw.updateaccess =='true'" (click)="deleteLogo()">
            <i class="fa fa-trash-o" aria-hidden="true"></i>
          </span>
          <img [src]="logourl" class="logo-pic" *ngIf="logourl != '/servlet/servlet.FileDownload?file=undefined'">
          <p class="no-company-logo" *ngIf="logourl == '/servlet/servlet.FileDownload?file=undefined'">Upload company logo</p>
        </div>
    <!--    <div class="rec-2"></div>
        <div class="rec-3"></div> -->
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6" *ngIf='speaker[1].biw.readaccess == "true"'>
        <div class="col-xs-4 col-xs-offset-7">
            <span class="help-text image-help"><i aria-hidden="true" class="fa fa-question-circle"></i>
              <span class="tooltiptext">Type: JPEG/PNG<br>Size: 200KB<br>Dimensions: 300X300</span>
            </span>
            <span class="delete-user-pic" *ngIf="url != '/servlet/servlet.FileDownload?file=undefined' && speaker[1].biw.updateaccess == 'true'" (click)="deleteUserPic()">
              <i class="fa fa-trash-o" aria-hidden="true"></i>
            </span>
          <span class="glyphicon glyphicon-pencil image-upload-pencil" *ngIf='speaker[1].biw.updateaccess == "true"'>
            <input type='file' (change)="onSelectFile($event)" class="file-input-hide">
          </span>
          <img [src]="url" class="profile-pic" *ngIf="url != '/servlet/servlet.FileDownload?file=undefined'">
          <i class="fa fa-user-circle-o no-profile-pic" aria-hidden="true" *ngIf="url == '/servlet/servlet.FileDownload?file=undefined'"></i>
        </div>
      </div>
    </div>
    <div class="basic-info-edit-section row">
      <!--<div class="form-group col-md-4" *ngFor='let fields of basic_set'> -->
      <div [ngClass]="(basic_set[0].biw.updateaccess == 'false')?'readonly':''" *ngIf='basic_set[0].biw.readaccess == "true"' class="col-md-2 form-group">
        <label for="label">{{basic_set[0].biw.labelname}}
          <span *ngIf="basic_set[0].biw.required == 'true'" class="required">*</span>
        </label>
        <select id="prefix" formControlName="Prefix__c" class="form-control" [required]='basic_set[0].biw.required'>
          <option value="" selected>-Select-</option>
          <option *ngFor="let p of prefix" [ngValue]="p" [disabled]="basic_set[0].biw.updateaccess == 'false'">{{ p }}</option>
        </select>
        <span class="readonlytext">This field has ready only access</span>
      </div>
      <div [ngClass]="(basic_set[1].biw.updateaccess == 'false')?'readonly':''" *ngIf='basic_set[1].biw.readaccess == "true"' class="col-md-4 form-group">
        <label for="label">{{basic_set[1].biw.labelname}}
          <span *ngIf="basic_set[1].biw.required =='true' " class="required">*</span>
        </label>
        <input type="text" class="form-control" id="First_Name__c" [required]='basic_set[1].biw.required' [readonly]='basic_set[1].biw.updateaccess == "false"'
          name="First_Name__c" formControlName="First_Name__c">
          <span class="readonlytext">This field has ready only access</span>
      </div>
      <div [ngClass]="(basic_set[2].biw.updateaccess == 'false')?'readonly':''" *ngIf='basic_set[2].biw.readaccess == "true" && basic_set[2].biw.columnname == "Last_Name__c"' class="col-md-4 form-group">
        <label for="email">{{basic_set[2].biw.labelname}}
          <span *ngIf="basic_set[2].biw.required == 'true'" class="required">*</span>
        </label>
        <input type="text" class="form-control" id="Last_Name__c" [required]='basic_set[2].biw.required' [readonly]='basic_set[2].biw.updateaccess == "false"'
          name="Last_Name__c" formControlName="Last_Name__c">
          <span class="readonlytext">This field has ready only access</span>
      </div>
      <div [ngClass]="(basic_set[5].biw.updateaccess == 'false')?'readonly':''" *ngIf='basic_set[5].biw.readaccess == "true" && basic_set[5].biw.columnname == "Suffix__c"' class="col-md-2 form-group">
        <label for="label">{{basic_set[5].biw.labelname}}
          <span *ngIf="basic_set[5].biw.required =='true'" class="required">*</span>
        </label>
        <select id="suffix" formControlName="Suffix__c" class="form-control" [required]='basic_set[5].biw.required'>
            <option value="" selected >-Select-</option>
          <option *ngFor="let s of suffix" [ngValue]="s" [disabled]="basic_set[5].biw.updateaccess == 'false'">{{ s }}</option>
        </select>
        <span class="readonlytext">This field has ready only access</span>
      </div>
      <div [ngClass]="(basic_set[7].biw.updateaccess == 'false')?'readonly':''" *ngIf='basic_set[7].biw.readaccess== "true"' class="col-md-12 form-group">
        <label for="label">{{basic_set[7].biw.labelname}}
          <span *ngIf="basic_set[7].biw.required == 'true'" class="required">*</span>
        </label>
        <input type="text" class="form-control" id="tkt-job" [required]='basic_set[7].biw.required' [readonly]='basic_set[7].biw.updateaccess == "false"'
          name="tkt-job" formControlName="TKT_Job_Title__c">
          <span class="readonlytext">This field has ready only access</span>
      </div>
      <div [ngClass]="(basic_set[6].biw.updateaccess == 'false')?'readonly':''" *ngIf='basic_set[6].biw.readaccess == "true"' class="col-md-6 form-group">
        <label for="label">{{basic_set[6].biw.labelname}}
          <span *ngIf="basic_set[6].biw.required =='true'" class="required">*</span>
        </label>
        <input type="text" class="form-control" id="tkt-company" [required]='basic_set[6].biw.required' [readonly]='basic_set[6].biw.updateaccess =="false"'
          name="name" formControlName="TKT_Company__c">
          <span class="readonlytext">This field has ready only access</span>
      </div>
      <div [ngClass]="(work_set[14].biw.updateaccess == 'false')?'readonly':''" *ngIf='work_set[14].biw.readaccess == "true"' class="col-md-6 form-group">
        <label for="label">{{work_set[14].biw.labelname}}
          <span *ngIf="work_set[14].biw.required =='true'" class="required">*</span>
        </label>
        <input type="text" class="form-control" id="dba_c" [required]='work_set[14].biw.required' [readonly]='work_set[14].biw.updateaccess=="false"'
          name="name" formControlName="DBA__c">
          <span class="readonlytext">This field has ready only access</span>
      </div>
      <div [ngClass]="(basic_set[3].biw.updateaccess == 'false')?'readonly':''" *ngIf='basic_set[3].biw.readaccess == "true" && basic_set[3].biw.columnname == "Email__c"' class="col-md-6 form-group">
        <label for="label">{{basic_set[3].biw.labelname}}
          <span *ngIf="basic_set[3].biw.required == 'true'" class="required">*</span>
        </label>
        <input type="text" class="form-control" id="Email__c" [required]='basic_set[3].biw.required' [readonly]="basic_set[3].biw.updateaccess =='false'"
          name="Email__c" formControlName="Email__c">
        <span class="readonlytext">This field has ready only access</span>
      </div>
      <div [ngClass]="(work_set[29].biw.updateaccess == 'false')?'readonly':''" *ngIf='work_set[29].biw.readaccess == "true"' class="col-md-6 form-group">
        <label for="label">{{work_set[29].biw.labelname}}
          <span *ngIf="work_set[29].biw.required == 'true'" class="required">*</span>
        </label>
        <input type="text" class="form-control" id="verify_email" [required]='work_set[29].biw.required' [readonly]="work_set[29].biw.updateaccess == 'false'"
          formControlName="Secondary_email__c">
          <span class="readonlytext">This field has ready only access</span>
      </div>
      <div [ngClass]="(basic_set[8].biw.updateaccess == 'false')?'readonly':''" *ngIf='basic_set[8].biw.readaccess == "true"' class="col-md-6 form-group">
        <label for="email">{{basic_set[8].biw.labelname}}
          <span *ngIf="basic_set[8].biw.required =='true'" class="required">*</span>
        </label>
        <input type="number" class="form-control" id="mobile__c" [required]='basic_set[8].biw.required' [readonly]='basic_set[8].biw.updateaccess =="false"'
          name="Mobile__c" formControlName="Mobile__c">
          <span class="readonlytext">This field has ready only access</span>
      </div>
      <div [ngClass]="(basic_set[10].biw.updateaccess == 'false')?'readonly':''" *ngIf='basic_set[10].biw.readaccess == "true"' class="col-md-3 form-group">
        <label for="email">{{basic_set[10].biw.labelname}}
          <span *ngIf="basic_set[10].biw.required =='true'" class="required">*</span>
        </label>
        <input type="number" class="form-control" id="home-phone" [required]='basic_set[10].biw.required' [readonly]='basic_set[10].biw.updateaccess =="false"'
          name="Mobile__c" formControlName="Home_Phone__c">
          <span class="readonlytext">This field has ready only access</span>
      </div>
      <div [ngClass]="(basic_set[9].biw.updateaccess == 'false')?'readonly':''" *ngIf='basic_set[9].biw.readaccess == "true"' class="col-md-3 form-group">
        <label for="email">{{basic_set[9].biw.labelname}}
          <span *ngIf="basic_set[9].biw.required =='true'" class="required">*</span>
        </label>
        <input type="number" class="form-control" id="dob__c" [required]='basic_set[9].biw.required' [readonly]='basic_set[9].biw.updateaccess == "false"'
          name="DOB__c" formControlName="Work_Phone__c">
          <span class="readonlytext">This field has ready only access</span>
      </div>
      <div [ngClass]="(work_set[6].biw.updateaccess == 'false')?'readonly':''" *ngIf='work_set[6].biw.readaccess == "true"' class="col-md-6 form-group">
        <label for="email">{{work_set[6].biw.labelname}}
          <span *ngIf="work_set[6].biw.required =='true'" class="required">*</span>
        </label>
        <input type="text" class="form-control" id="website-url__c" [required]='work_set[6].biw.required' [readonly]='work_set[6].biw.updateaccess =="false"'
          name="website-url" formControlName="Company_Website_URL__c">
          <span class="readonlytext">This field has ready only access</span>
      </div>
      <div [ngClass]="(work_set[22].biw.updateaccess == 'false')?'readonly':''" *ngIf='work_set[22].biw.readaccess == "true"' class="col-md-6 form-group">
        <label for="email">{{work_set[22].biw.labelname}}
          <span *ngIf="work_set[22].biw.required =='true'" class="required">*</span>
        </label>
        <input type="text" class="form-control" id="fax--c" [required]='work_set[22].biw.required' [readonly]='work_set[22].biw.updateaccess =="false"'
          name="fax-number" formControlName="FaxNumber__c">
          <span class="readonlytext">This field has ready only access</span>
      </div>
      <div [ngClass]="(basic_set[13].biw.updateaccess == 'false')?'readonly':''" *ngIf='basic_set[13].biw.readaccess == "true"' class="col-md-4 form-group">
        <label for="email">{{basic_set[13].biw.labelname}}
          <span *ngIf="basic_set[13].biw.required =='true'" class="required">*</span>
        </label>
        <input type="date" class="form-control" id="dob__c" [required]='basic_set[13].biw.required' [readonly]='basic_set[13].biw.updateaccess =="false"'
          name="DOB__c" formControlName="DOB__c" max="9999-10-20">
          <span class="readonlytext">This field has ready only access</span>
      </div>
      <div [ngClass]="(basic_set[11].biw.updateaccess == 'false')?'readonly':''" *ngIf='basic_set[11].biw.readaccess == "true"' class="col-md-2 form-group">
        <label for="email">{{basic_set[11].biw.labelname}}
          <span *ngIf="basic_set[11].biw.required =='true'" class="required">*</span>
        </label>
        <input type="number" class="form-control" id="age__c" [required]='basic_set[11].biw.required' [readonly]='basic_set[11].biw.updateaccess =="false"'
          name="Age__c" formControlName="Age__c" min="0">
          <span class="readonlytext">This field has ready only access</span>
      </div>
      <div [ngClass]="(basic_set[12].biw.updateaccess == 'false')?'readonly':''" *ngIf="basic_set[12].biw.readaccess =='true'" class="col-md-6 form-group">
        <label for="email">{{basic_set[12].biw.labelname}}
          <span *ngIf="basic_set[12].biw.required == 'true'" class="required">*</span>
        </label>
      <!--  <input type="text" class="form-control" id="gender__c" [required]='basic_set[12].biw.required' [readonly]='!basic_set[12].biw.updateaccess'
          name="Gender__c" formControlName="Gender__c"> -->
        <select id="gender" formControlName="Gender__c" class="form-control">
          <option value="" selected>-Select-</option>
          <option *ngFor="let p of gender" [ngValue]="p" [disabled]="basic_set[12].biw.updateaccess == 'false'">{{ p }}</option>
        </select>
        <span class="readonlytext">This field has ready only access</span>
      </div>
      <div [ngClass]="(basic_set[14].biw.updateaccess == 'false')?'readonly':''" *ngIf='basic_set[14].biw.readaccess == "true"' class="col-md-12 form-group">
        <label for="email">{{basic_set[14].biw.labelname}}
          <span *ngIf="basic_set[14].biw.required == 'true'" class="required">*</span>
        </label>
        <input type="text" class="form-control" id="custom_Barcode__C" [required]='basic_set[14].biw.required' [readonly]='basic_set[14].biw.updateaccess =="false"'
          name="Custom_Barcode__c" formControlName="Custom_Barcode__c" (blur)="checkBarcode($event.target.value)">
          <span class="readonlytext">This field has ready only access</span>
      </div>
      <div [ngClass]="(speaker[7].biw.updateaccess == 'false')?'readonly':''" *ngIf='speaker[7].biw.readaccess == "true"' class="col-md-12 form-group">
          <label for="email">{{speaker[7].biw.labelname}}
            <span *ngIf="speaker[7].biw.required == 'true'" class="required">*</span> 
            <span class="help-text"><i class="fa fa-question-circle" aria-hidden="true"></i>
              <span class="tooltiptext">Text is limited to 1500 characters</span>
            </span>  
          </label>
          <simple-tiny formControlName="Biography__c" *ngIf="speaker[7].biw.updateaccess == 'true'"></simple-tiny>
          <p [innerHTML]="basic.Biography__c" class="readonly-text" *ngIf="speaker[7].biw.updateaccess == 'false' && basic.Biography__c != null"></p>
          <textarea class="form-control" id="biography" [required]="speaker[7].biw.required" readonly *ngIf="speaker[7].biw.updateaccess == 'false' && basic.Biography__c == null"
            name="bio-1"></textarea>
          <span class="readonlytext">This field has ready only access</span>

        </div>
      <div class="col-md-4 col-md-offset-8 action-section"> 
        <button type="button" class="btn btn-primary" (click)="onSubmit()">Save</button>
        <button type="button" class="btn btn-cancel" (click)="onCancel()">Cancel</button>
      </div>

    </div>
  </form>
</div>