.basic-info-header{
    /*background: #506b9f;*/
    min-height: 115px;
    background: linear-gradient(-90deg, #506b9ff5, #506b9fd6);
    height: 135px;
}
.profile-pic{
    border: 2px solid white;
    border-radius: 50%;
    box-shadow: 0 7px 19px rgba(0, 0, 0, 0.25);
    height: 150px;
    width: 150px;
    position: relative;
    top: 31px;
}
.info-name{
    color: #52658ce8;
    font-size: 30px;
    font-style: bold;
    font-weight: bold;
    font-family: Roboto, arial, sans-serif;
}
.info-designation,.info-mobile{
    color: #666668;
    font-size: 17px;
    font-family: arial;
}
/*.facebook-share{
    width: 52px;
    height: 50px;
    background-size: 151px;
    background: url("../../assets/social-media-icon.png") 0 0;
}*/
.facebook-share-icon,.twitter-media-icon,.linkedin-media-icon{
    width:90%;
}
.company-info-header{
    font-size: 20px;
    font-weight: bold;
    color: #627396;
}
.company-header-hr{
    border: solid 1px #b1bacb !important;
    margin-top: 1px;
    padding:0;
}
.field-title{
    font-weight: bold;
    color: #666668;
    font-size: 14px;
}
.padding-buttom-1{
    padding-bottom: 1%;
}
.no-padding{
    padding:0 !important;
}
.padding-top-1{
    padding-top:1%;
}
.hover-grey:hover{
    background-color: #80808042;
}
.edit-icon{
    color: white;
    font-size: 26px;
    position: relative;
    left: 6%;
    cursor: pointer;
}
/****  Edit design  ****/
.file-input-hide{
    width: 22px;
    position: relative;
    top: -24px;
    opacity: 0;
    height: 10px;
}
.image-upload-pencil{
    position: absolute;
    top: 87%;
    left: 64%;
    color: #5e77a7;
    font-size: 20px;
    z-index: 9;
    font-weight: bold;
    background: white;
    padding: 8px 6px 0px 8px;
    border-radius: 50%;
    border: 1px solid #5e77a7;
}
.social-media-edit-icons{
    padding:9px;
}
.basic-info-edit{
    background: #8080800a;
    border: 6px solid #54545447;
    width:100%;
}
.work-info-title,.basic-info-title{
    font-size: 25px;
    font-weight: bold;
    color: #666668;
    padding:0;
    background: #8080802b;
    margin-top: 1%;
    margin-bottom: 1%;
    padding-left: 3%;
}
.work-info{ 
    padding-left: 47px;
    
}
.basic-info-edit-section{
    padding:5% 4% 0% 4%;
}
.edit-save-btn{
    background: #2368c7;
    color: white;
    width: 72%;
    padding: 1%;
    font-size: 25px;
    font-weight: bold;
    border: none;
    border-radius: 4%;
}
.sv-basic-btn{
    margin: 0 0 15px 3px;
    padding: 7px 17px 7px 17px;
    font-size: 18px;
}
.basic-info-main{
    padding: 21px 30px 0px 31px;
    background: white;
    box-shadow: 0 3px 14px rgba(0, 0, 0, 0.2);
    margin-bottom: 25px;
}

.logo-img{
    width: 272px;
    position: relative;
    top: -40px;
    padding: 30px;
    background: #FAFAFA;
    z-index: 1;
}


.rec{
    position: relative;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 14px solid #292828;
    top: -12px;
    margin-left: 222px;
}
.rec-1{
    position: relative;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 53px solid transparent;
    border-bottom: 13px solid #292828;
    top: -26px;
    margin-left: -6px;
}
.rec-2{
    position: relative;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 6px solid transparent;
    border-top: 15px solid #292828;
    margin-left: 222px;
    top:-56px;
   
}
.rec-3{
    position: relative;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 44px solid transparent;
    border-top: 14px solid #292828;
    top: -71px;
    margin-left: -6px;
    
}
/*#prefix,#suffix{
    width:100%;
    height:34px;
} */
.action-section{
    padding:15px;
}
.btn-cancel{
    margin-right:20px; 
}
.btn{
    font-weight: bold;
}
.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948 !important; 
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442 !important; 
  }
  span.required{
      color:red;
      font-weight: 900;
  }
  .form-control{
      border-radius: 0 !important;
  }
  .btn{
    padding: 1% 4% 1% 3%;
    width: 40%;
    border-radius: 0;
  }
  .close-popup{
    position: fixed;
    right: 1%;
    top: 0;
    color: white;
    padding: 1%;
    cursor: pointer;
  }
  .logo-pic{
    width: 134px;
    height: 104px;
  }
  .logo-upload-pencil{
    position: absolute;
    top: 13%;
    left: 68%;
    border: none;
    color: #5c76a6;
    z-index: 9999;
  }
  .no-profile-pic{
    font-size: 131px;
    position: relative;
    top: 37px;
    color: white;
    box-shadow: 0 7px 19px rgba(0, 0, 0, 0.25);
    border-radius: 64px;
  }
  .no-company-logo{
    font-size: 27px;
    font-weight: bold;
    padding: 9px;
    color: #5c75a5;
    transform: rotate(-17deg);
  }
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
  /*  appearance: none;*/
    margin: 0; 
}

.tooltiptext {
    visibility: hidden;
    width: 175px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
   /* bottom: 74%;*/
    left: 12%;
    margin-left: -60px;
    opacity: 0;
   /* font-size: 17px;*/
    transition: opacity 0.3s;
}
.image-help .tooltiptext{
    margin-left: -81px;
}
.help-text:hover .tooltiptext {
    visibility: visible !important;
    opacity: 1 !important;   
}
.image-help{
    position: absolute;
    right: 36px;
    color: white;
    top: 16px;
}
.logo-help{
    position: absolute;
    right: 36px;
    color: #5d76a6;
    top: 16px;
    z-index: 9999999;
}
.logo-upload-pencil{
    position: absolute;
    top: 13%;
    left: 68%;
    border: none;
    color: #5c76a6;
    z-index: 9999;
}
.delete-logo{
    position: absolute;
    top: 70%;
    left: 68%;
    border: none;
    color: #5c76a6;
    z-index: 9999;
    cursor: pointer;
}
.delete-user-pic{
    position: absolute;
    color: white;
    top: 30%;
    right: 0;
    cursor: pointer;
}
.readonly-text{
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-image: none;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
