<div class="container work-edit-section">
  <div class="row">
      <div class="col-md-12 work-pop-bg">
          <div class="work-prof-popup">
              <div class="col-md-4 col-sm-10 col-xs-10 col-lg-4">
                  <h2 class="title">Work Address</h2>
              </div>
              <div class="col-md-6 col-lg-6 offset-md-6 offset-lg-6"></div>
              <div class="col-md-2 col-sm-2 col-xs-2 col-lg-2">
                  <i aria-hidden="true" class="fa fa-pencil edit-icon"></i>
              </div>
              <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
                  <hr class="lne" />
              </div>
              <div class="form-group col-md-5">
                  <label for="email">Work Address1 :</label>
                  <input class="form-control" type="text">
              </div>
              <div class="form-group col-md-5">
                  <label for="email">Work Address2 :</label>
                  <input class="form-control" type="text">
              </div>
              <div class="col-md-2 offset-md-2"></div>
              <div class="form-group col-md-5">
                  <label for="email">City :</label>
                  <input class="form-control" type="text">
              </div>
              <div class="form-group col-md-5">
                  <label for="email">Country:</label>
                  <input class="form-control" type="text">
              </div>
              <div class="col-md-2 offset-md-2"></div>
              <div class="form-group col-md-5">
                  <label for="email">State :</label>
                  <input class="form-control" type="text">
              </div>
              <div class="form-group col-md-5">
                  <label for="email">Zip Code:</label>
                  <input class="form-control" type="text">
              </div>
          </div>
          <div class="col-md-12 text-right work-pop-save">
              <button type="button" class="btn btn-primary sv-btn">Save</button>
          </div>
      </div>

  </div>

</div>