.work-prof-popup .title{font-size: 25px;font-weight: bold;color: #666668;padding: 0;}
.work-pop-bg{background: #8080800a; border: 6px solid #54545447;}
.work-edit-section{
    width:100%;
}
.work-prof-popup{
    padding-bottom: 15px;
}
.address-edit-header{
    font-size: 25px;
    font-weight: bold;
    color: #666668;
    padding: 0;
    background: #8080802b;
    margin-top: 1%;
    margin-bottom: 1%;
    padding-left: 1%;
}
.address-section-type{
    font-size: 17px;
    padding-bottom:5px;
    font-weight: bold;
}
label{
    margin-bottom: 0px !important;
}
    .action-section{
        padding:15px;
    }
    .btn-cancel{
        margin-right:20px; 
    }
    .btn{
        font-weight: bold;
    }
span.required{
          color:red;
          font-weight: 900;
}
      .form-control{
          border-radius: 0 !important;
      }
      .btn{
        padding: 1% 4% 1% 3%;
        width: 40%;
        border-radius: 0;
      }
      .close-popup{
        position: fixed;
        right: 1%;
        top: 0;
        color: white;
        padding: 1%;
        cursor: pointer;
      }