<div class="container naics-code-edit-section">
  <div class="row">
      <div class="col-md-12 naics-header">
        {{settings['Diversity Type Information'][0]?.biw.groupname}}
        </div>
        <div class="col-md-12 niacs-code-selector">
            <select2 [data]="diversity"
            [options]="options"
            [width]="650"
            [value]="def"
            (valueChanged)="changed($event)">
            </select2>
          </div>
          <div class="col-md-3 col-md-offset-9 action-section"> 
              <button type="submit" class="btn btn-primary" (click)="onSubmit()">Save</button>
              <button type="button" class="btn btn-cancel" (click)="onCancel()">Cancel</button>
            </div>
  </div>
</div>