<div>
  <div class="container basic-views-in">
    <div class="row">
      <div class="col-md-12">
      <!--  <div class="basic-print-btn">
          <button type="button" class="btn btn-primary basic-prnt">Print</button>
        </div> -->
      </div>
      <div>
        <div>
          <div class="container basic-info-main">
            <div class="row">
              <div class="basic-info">
                <div class="basic-info-header row">
                  <div class="col-md-6"> </div>
                  <div class="col-md-5"> 
                    <!--<i class="fa fa-pencil edit-icon" aria-hidden="true"></i> -->
                    <div class="col-xs-4 col-xs-offset-4 basic-profile-picmobi" >
                      <span *ngIf="basic.User_Pic__c != undefined">
                          <img src="/servlet/servlet.FileDownload?file={{basic.User_Pic__c}}" class="profile-pic">
                      </span>
                      <span *ngIf="basic.User_Pic__c == undefined" class="no-profile-pic">
                          <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                      </span>   
                    </div>
                  </div>
                  <div class="col-md-1"> <i aria-hidden="true" class="glyphicon glyphicon-pencil basic-pencil-ic" (click)="openDialog()"></i> </div>
                </div>
                <div class="logo-img" *ngIf='speaker[2].biw.readaccess == "true"'>
                  <span *ngIf="basic.Company_Logo__c == undefined">
                    <p class="no-company-logo">Logo not available</p>
                  </span>
                  <span *ngIf="basic.Company_Logo__c != undefined">
                      <img src="/servlet/servlet.FileDownload?file={{basic.Company_Logo__c}}"/>
                  </span>
                </div>
                <div class="rec" *ngIf='speaker[2].biw.readaccess == "true"'></div>
                <div class="rec-1" *ngIf='speaker[2].biw.readaccess == "true"'></div>
                <div class="rec-2" *ngIf='speaker[2].biw.readaccess == "true"'></div>
                <div class="rec-3" *ngIf='speaker[2].biw.readaccess == "true"'></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="col-md-8">
            <div class="basic-view-pghead">Personal Information</div>
            <ul class="basic-view-pg">
              <li class="basic-basic-name">{{basic.Prefix__c}} {{basic.First_Name__c}} {{basic.Last_Name__c}} {{basic.Suffix__c}}</li>
              <li *ngIf="basic.TKT_Job_Title__c !== undefined || basic.TKT_Company__c !== undefined">
                <span *ngIf="basic.TKT_Job_Title__c !== undefined">{{basic.TKT_Job_Title__c +" | "}}</span> 
                <span *ngIf="basic.TKT_Company__c !== undefined">{{basic.TKT_Company__c}}</span>
              </li>
              <li *ngIf="basic_set[3]?.biw.readaccess == 'true'"><strong>{{basic_set[3]?.biw.labelname}}:</strong> {{basic.Email__c}}</li>
              <li *ngIf="work_set[29]?.biw.readaccess == 'true' && basic.Secondary_email__c !== undefine"><strong>{{work_set[29]?.biw.labelname}}:</strong> {{basic.Secondary_email__c}}</li>
              <li *ngIf="work_set[6]?.biw.readaccess == 'true' && basic.Company_Website_URL__c !== undefine"><i class="fa fa-link" aria-hidden="true"></i> <strong>{{work_set[6]?.biw.labelname}}:</strong> {{basic.Company_Website_URL__c}}</li>
              <li *ngIf="basic_set[8]?.biw.readaccess == 'true' && basic.Mobile__c !== undefine"><i class="fa fa-mobile fa-mbl-ic" aria-hidden="true"></i> <strong>{{basic_set[8].biw.labelname}}:</strong> {{basic.Mobile__c}}</li>
              <li *ngIf="basic_set[9]?.biw.readaccess == 'true' && basic.Work_Phone__c !== undefined"><i class="fa fa-phone" aria-hidden="true"></i> <strong>{{basic_set[9].biw.labelname}}:</strong> {{basic.Work_Phone__c}}</li>
              <li *ngIf="basic_set[10]?.biw.readaccess == 'true' && basic.Home_Phone__c !== undefine"><i class="fa fa-phone" aria-hidden="true"></i> <strong>{{basic_set[10].biw.labelname}}:</strong> {{basic.Home_Phone__c}}</li>
              <li *ngIf="work_set[22]?.biw.readaccess == 'true' && basic.FaxNumber__c !== undefine"><i class="fa fa-fax" aria-hidden="true"></i> <strong>{{work_set[22].biw.labelname}}:</strong> {{basic.FaxNumber__c}}</li>
              <li>
                <span *ngIf="basic_set[11]?.biw.readaccess == 'true' && basic?.Age__c != '0' && basic?.Age__c !== undefine">
                    <strong>{{basic_set[11]?.biw.labelname}}:</strong> {{basic?.Age__c + " | "}}
                </span>
                <span *ngIf='basic_set[13]?.biw.readaccess =="true" && basic?.DOB__c !== undefine'>
                    <strong>{{basic_set[13]?.biw.labelname}}:</strong> {{basic?.DOB__c | date: 'MM-dd-yyyy' + " | "}}
                </span>
                <span *ngIf='basic_set[12]?.biw.readaccess == "true" && basic.Gender__c !== undefine'>
                    <strong>{{basic_set[12]?.biw.labelname}}:</strong> {{basic.Gender__c}}
                </span>
              </li>
              <li *ngIf='custom_barcode.Custom_Barcode__c != undefine && custom_barcode.Custom_Barcode__c !=""'><strong>{{basic_set[14]?.biw.labelname}}:</strong>{{ this.custom_barcode.Custom_Barcode__c }}</li>
            </ul>
          </div>
          <div class="col-md-4 offset-md-4"> </div>
        </div>
        <div class="col-md-4"> 
            <div class="social-icns-basic" *ngIf="speaker[3]?.biw.readaccess == 'true' || speaker[4]?.biw.readaccess == 'true' || speaker[5]?.biw.readaccess == 'true' || speaker[8]?.biw.readaccess == 'true' || speaker[13]?.biw.readaccess =='true'"> 
                <a href="{{basic.FaceBookId__c}}" class="fa fa-facebook" *ngIf="basic.FaceBookId__c !== undefined && basic.FaceBookId__c !=''" target="_blank"></a>
                <a href="{{basic.LinkedInId__c}}" class="fa fa-linkedin" target="_blank" *ngIf="basic.LinkedInId__c !== undefined && basic.LinkedInId__c !=''"></a> 
                <a href="{{basic.TwitterId__c}}" class="fa fa-twitter" target="_blank" *ngIf="basic.TwitterId__c !== undefined && basic.TwitterId__c !=''"></a> 
                <a href="{{basic.Video__c}}" class="" target="_blank" *ngIf="basic.Video__c !== undefined && basic.Video__c != ''"><img class="icon-insta" src="http://eventdex.com/wp-content/themes/eventdex/assets/images/youtube-icons-ev.png"></a> 
                <a href="{{basic.Instagram__c}}" class="" target="_blank" *ngIf="basic.Instagram__c !== undefined && basic.Instagram__c !=''"><img class="icon-insta" src="http://eventdex.com/wp-content/themes/eventdex/assets/images/instaimg.png"></a>
                <span class="no-socail-media" *ngIf="basic.FaceBookId__c == undefined && basic.LinkedInId__c == undefined && basic.TwitterId__c == undefined && basic.Video__c == undefined && basic.Instagram__c == undefined">Add your socail media link here</span>
                <i aria-hidden="true" class="glyphicon glyphicon-pencil basic-pencil-ic-social" (click)="openDialogSocial()"></i>
              </div>
              <div class="attachements-view col-md-8 col-md-offset-1" *ngIf="attchment != null && attchment !=''">
                <div class="attach-header">Attachments</div>
                <ul class="attachement-list">
                  <li *ngFor="let attchment of attchment">
                      <a href="/servlet/servlet.FileDownload?file={{attchment.Id}}" target="_blank">{{attchment.Name}}</a>
                  </li>
                </ul>
              </div>
        </div>
      </div>
    </div>
    <div class="container" *ngIf='speaker[3]?.biw.readaccess == "true" && basic.Biography__c !== undefine && basic.Biography__c != "<p><br></p>"'>
      <div class="row">
        <div class="col-md-11 basic-biography">
          <div><strong>Biography:</strong></div>
          <div class="basic-biogr-info"><p [innerHTML]="basic.Biography__c | safeHTML"></p></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container basic-views-in-adrs" *ngIf="address[0]?.biw.readaccess == 'true' || address[1]?.biw.readaccess == 'true' || address[2]?.biw.readaccess == 'true'">
  <div class="row"> <i aria-hidden="true" class="glyphicon glyphicon-pencil adrs-pencil" (click)="openDialogWorkAddress()"></i>
    <div class="col-md-10 adrs-info">
      <div class="basic-view-pghead-adrs">Address Information</div>
      <ul class="basic-address">
        <li *ngIf="basic?.Home_Address__r !== undefined && (basic?.Home_Address__r.Address1__c !== undefined || basic?.Home_Address__r.Address2__c !== undefined || basic?.Home_Address__r.City__c !== undefined || basic.Home_Address__r.State__r !== undefined || basic.Home_Address__r.Country__r?.Long_Name__c != null || basic?.Home_Address__r.ZipCode__c != null)"><i class="fa fa-map-marker" aria-hidden="true"></i> <strong>Home:</strong> 
          <span *ngIf="basic?.Home_Address__r.Address1__c !='' && basic?.Home_Address__r.Address1__c !== undefined">
            {{basic?.Home_Address__r.Address1__c + ','}}
          </span>
          <span *ngIf="basic?.Home_Address__r.Address2__c !='' && basic?.Home_Address__r.Address2__c !== undefined">
            {{basic?.Home_Address__r.Address2__c +','}}
          </span>
          <span *ngIf="basic?.Home_Address__r.City__c !='' && basic?.Home_Address__r.City__c !== undefined">
            {{basic?.Home_Address__r.City__c + ','}}
          </span>
          <span *ngIf="basic.Home_Address__r.State__r?.Long_Name__c !='' && basic.Home_Address__r.State__r !== undefined">
            {{basic.Home_Address__r.State__r?.Long_Name__c+','}}
          </span>
          <span *ngIf="basic.Home_Address__r.Country__r?.Long_Name__c != null">
            {{basic.Home_Address__r.Country__r?.Long_Name__c+','}}
          </span>
          <span *ngIf="basic?.Home_Address__r.ZipCode__c != null">
            {{basic?.Home_Address__r.ZipCode__c}}
          </span>
        </li>
        <li *ngIf="basic?.Work_Address__r !== undefined && (basic?.Work_Address__r.Address1__c !== undefined ||basic?.Work_Address__r.Address2__c !== undefine || basic?.Work_Address__r.City__c !== undefined || basic?.Work_Address__r.Country__r?.Long_Name__c) "><i class="fa fa-map-marker" aria-hidden="true" ></i> <strong>Work:</strong> 
          <span *ngIf="basic?.Work_Address__r.Address1__c !== undefined && basic?.Work_Address__r.Address1__c !==  undefined">
            {{basic?.Work_Address__r.Address1__c + ','}}
          </span>
          <span *ngIf="basic?.Work_Address__r.Address2__c !== undefined && basic?.Work_Address__r.Address2__c !== undefined">
            {{basic?.Work_Address__r.Address2__c +','}}
          </span>
          <span *ngIf="basic?.Work_Address__r.City__c !== undefined && basic?.Work_Address__r.City__c !=''">
            {{basic?.Work_Address__r.City__c + ','}}
          </span>
          <span *ngIf="basic.Work_Address__r.State__r?.Long_Name__c !='' && basic.Work_Address__r.State__r?.Long_Name__c !=null">
            {{basic.Work_Address__r.State__r?.Long_Name__c+','}}
          </span>
          <span *ngIf="basic.Work_Address__r.Country__r?.Long_Name__c !='' && basic?.Work_Address__r.Country__r?.Long_Name__c !=null">
            {{basic.Work_Address__r.Country__r?.Long_Name__c +','}}
          </span>
          <span *ngIf="basic?.Work_Address__r.ZipCode__c !='' && basic?.Work_Address__r.ZipCode__c !='null'">
            {{basic?.Work_Address__r.ZipCode__c}}
          </span>
        </li>
        <li *ngIf="basic?.Billing_Address__r !== undefined && (basic?.Billing_Address__r.Address1__c !== undefined || basic?.Billing_Address__r.Address2__c !== undefined || basic.Billing_Address__r.State__r?.Long_Name__c != null || basic.Billing_Address__r.Country__r?.Long_Name__c !=null || basic?.Billing_Address__r.ZipCode__c != null)"><i class="fa fa-map-marker" aria-hidden="true"></i> <strong>Billing:</strong>
          <span *ngIf="basic?.Billing_Address__r.Address1__c !== undefined && basic?.Billing_Address__r.Address1__c !=''">
            {{basic?.Billing_Address__r.Address1__c + ','}}
          </span>
          <span *ngIf="basic?.Billing_Address__r.Address2__c !== undefined && basic?.Billing_Address__r.Address2__c !=''">
            {{basic?.Billing_Address__r.Address2__c +','}}
          </span>
          <span *ngIf="basic?.Billing_Address__r.City__c !== undefined && basic?.Billing_Address__r.City__c !=''">
            {{basic?.Billing_Address__r.City__c + ','}}
          </span>
          <span *ngIf="basic.Billing_Address__r.State__r?.Long_Name__c != null && basic?.Billing_Address__r.State__r?.Long_Name__c !== undefined">
            {{basic.Billing_Address__r.State__r?.Long_Name__c +','}}
          </span>
          <span *ngIf="basic.Billing_Address__r.Country__r?.Long_Name__c != null">
            {{basic.Billing_Address__r.Country__r?.Long_Name__c +','}}
          </span>
          <span *ngIf="basic?.Billing_Address__r.ZipCode__c != null && basic?.Billing_Address__r.ZipCode__c != ''">
            {{basic?.Billing_Address__r.ZipCode__c}}
          </span>
        </li>
      </ul>
    </div>
    <div class="col-md-6 col-md-offset-6"> </div>
  </div>
</div> 

