.print-profle-id h3{font-size: 20px; font-weight: bold;color: #627396;}
.print-profle-id h4{color: #8e8c8c; font-size: 15px;}
.print-profle-id h5{color: #8e8c8c;}
.border-btm{    
    /*margin-bottom: 20px; */
    border-bottom: 3px solid #ccc8c8;
}
.print-profle-dp{padding: 41px;}
.print-profle-bar{    padding: 37px;}
.print-profile-compny{   
    background: #c1c1c182;
    padding: 12px;    
    font-size: 18px;
    font-weight: bold;
}
.print-profile-info{    padding: 5px 0px 0 30px;}
.print-profile-info ul{    list-style-type: none;    color: #696868;    padding: 0 0 0 10px;}
.print-prf-compny{   padding: 21px 27px 0 23px;}
.print-profle-naics ul{list-style: none;padding: 0;}
.print-profle-naics{    padding: 15px 0px 17px 6px;}
.print-prf-tbl{    padding: 24px 20px 0 20px;}
.print-prf-additinl ul{list-style: none;    padding: 0;}
.print-prf-additinl{padding: 18px 3px 9px 18px;}
.print-prf{    
    border: 1px solid #8080802e;
    float: left;
}
.print-prf-logo{padding: 32px 0 0 20px;}
.print-prf-head{padding: 0;}
.print-prf-sec{padding: 0;}
.print-prf-head-sub {    padding: 12px;}
.profile-pic{
    width:100px;
}
.print-prf-logo img{
    width:150px;
}
/*.title-text{
    background: #c1c1c182;
    padding: 12px 50px 12px 15px;
    font-size: 18px;
    font-weight: bold;
} */
ul.basic-view-pg{
    width:50%;
    float:left;
}
.basic-view-pg,.basic-address{
    line-height: 21px;
    color: #797979;
    list-style: none;
    font-size: 14px;
}
.padding-0{
    padding: 0;
}
.ref-sec{
    border: 1px solid #8080802e;
    float: left;
    border-radius: 5px;
    padding-top: 6px;
}
.margin-top-5{
    margin-top: 5px;
}
.basic-naics {
    list-style-type: none !important;
}
/* Commodities block */
.commodities_data{
    padding: 0px 0px 8px 0px;
} 
.comm-title{
    font-weight: bold;
}
.commo-view{
    padding: 20px 0px 20px 82px;
}
.border-bottom{
    border: 1px solid #80808040;
    border-bottom: 0;
}
.font-bold{
    font-size: 15px;
    font-weight: bold;
}
.tbl-brdrd {   
    border: 1px solid #dddddd;
    padding: 0px 0px 0 8px;
}
.tbl-brdrd p {margin: 0;}
.tbl-brdr-pdng{padding: 78px;color: #797979;}
.tbl-frst-bck{
   background: #edecec;
   font-weight: 600;
}
.action-section{
   padding:15px;
}
.btn-cancel{
   margin-right:20px; 
}
.btn{
   font-weight: bold;
}
.basic-views-in-adrs {
   padding: 0;
   background: #fdfbfb;
   -webkit-box-shadow: 0 3px 14px rgba(0, 0, 0, 0.2);
   box-shadow: 0 3px 14px rgba(0, 0, 0, 0.2);
   margin-bottom: 27px;
}
.adrs-pencil {
   float: right;
   margin: 36px;
   font-size: 22px;
   color: #44619c;
   cursor: pointer;
}
.adrs-info {
   padding: 39px;
}
.work-in-head {
   color: #44619c;
}
.basic-view-pghead-adrs {
   padding: 8px 0px 8px 43px;
   background: #d6d5d569;
   font-size: 23px;
   font-weight: bold;
   color: #676767;
   margin-top: 0px;
}
.tbl-frst-bck {
   background: #edecec;
   font-weight: 600;
}
.padding-0{
   padding: 0 !important;
}
.ref-sec{
   border: 1px solid #8080802e;
   float: left;
   border-radius: 5px;
   padding-top: 6px;
}
.margin-top-5{
   margin-top: 5px;
}
.tbl-brdrd {   
    border: 1px solid #dddddd;
    padding: 0px 0px 0 8px;
}
.tbl-brdrd p {margin: 0;}
.tbl-brdr-pdng{padding: 78px;color: #797979;}
.tbl-frst-bck{
   background: #edecec;
   font-weight: 600;
}
.action-section{
   padding:15px;
}
.btn-cancel{
   margin-right:20px; 
}
.btn{
   font-weight: bold;
}
.project-info-block {
   padding: 0;
   background: #fdfbfb;
   -webkit-box-shadow: 0 3px 14px rgba(0, 0, 0, 0.2);
   box-shadow: 0 3px 14px rgba(0, 0, 0, 0.2);
   margin-bottom: 27px;
}
.adrs-pencil {
   float: right;
   margin: 36px;
   font-size: 22px;
   color: #44619c;
   cursor: pointer;
}
.adrs-info {
   padding: 39px 39px 10px 39px;
}
.work-in-head {
   color: #44619c;
}
.basic-view-pghead-adrs {
   padding: 8px 0px 8px 43px;
   background: #d6d5d569;
   font-size: 23px;
   font-weight: bold;
   color: #676767;
   margin-top: 0px;
}
.tbl-frst-bck {
   background: #edecec;
   font-weight: 600;
}
.project-title{
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 17px;
    position: relative;
    /* left: -10px; */
    background: #8080804d;
    text-align: center;
    font-weight: bold;
}
.work-info-details{
    padding: 14px 30px 14px 51px;
}
.customer-ref-details{
    padding: 12px 0px 16px 34px;
}
.naics-data,.diversity-data{
    padding: 11px 0px 5px 0px !important;
}
.comm-data-view{
    padding: 8px 0px 1px 37px;
}
.sub-comm-data-view{
    padding: 0px 0px 12px 37px;
}
.project-data{
    padding: 14px 20px 0px 40px;
}   
.registration-view{
    padding: 8px 0px 0px 25px;
}
.print-profile a{
    float: right;
    font-size: 20px;
    padding: 15px;
}
.tittle-background-print{
    background: #c1c1c182 !important;
    padding: 5px 0px 4px 8px !important;
    font-size: 18px;
    font-weight: bold;
}
.item-question{
    font-weight: bold;
}
@media print
{
.print-profile a {display:none;}
.title-text{
    background: #c1c1c182;
}
}
