<div class="container">
  <div class="row">
    <form>
      <mat-accordion>
        <mat-expansion-panel *ngFor="let projects of data; let in=index;let l=last;let f=first;" [expanded]="f">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{projects.pname}}
            </mat-panel-title>
            <mat-panel-description>
              <i *ngIf="l" class="fa fa-plus" aria-hidden="true" (click)="add()"></i>
              <i *ngIf="!f" class="fa fa-trash-o" aria-hidden="true" (click)="delete(in)"></i>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="form-group col-md-6" *ngFor="let projectfields of projects.keys">
            <label for="project-name">{{projectfields.label}}</label>
            <input type="text" class="form-control" placeholder="First name">
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </form>
  </div>
</div>
