/* You can add global styles to this file, and also import other style files */
@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.mat-dialog-container{
    padding: 0 !important;
}
.mat-expansion-panel-content.mat-expanded{
    overflow: auto !important;
}
.mat-slide-toggle-content{
    color: #337ab7 !important;
  }
  span.select2-container{
 /*   position:fixed !important; */
    min-height: 34px !important;
    z-index:9999 !important;
}
.select2-container--default .select2-selection--multiple{
    background: transparent !important;
}
.select2-container--default.select2-container--focus .select2-selection--multiple{
    border: 1px solid #80808085 !important;
}
.mat-expansion-panel-content .border-bottom:last-child{
    margin-bottom: 10px !important;
    border-bottom: 1px solid #80808040 !important;
}
.mat-expansion-panel-header-description {
    flex-grow: .01 !important;
}
.mat-content{
    background: #edecec !important;
    margin-right: 10px !important;
}
.mat-expansion-panel-header-title{
    padding: 10px !important;
}
.mce-menu{
    position:fixed !important;
}
.mce-floatpanel {
    position: fixed !important;
}
.d-block{
    opacity: 1 !important;
}
.modal-sm{
    position: absolute;
    top: 35%;
    left: 40%;
}
.btn-primary{
    margin-right: 9%;
}